[Unit]
Description=LAVD Scheduler - Powersave Mode
Conflicts=scx_lavd-performance.service

[Service]
Type=simple
ExecStart=/usr/bin/scx_lavd --powersave
Restart=no

[Install]
WantedBy=multi-user.target
