[Unit]
Description=LAVD Scheduler - Performance Mode
Conflicts=scx_lavd-powersave.service

[Service]
Type=simple
ExecStart=/usr/bin/scx_lavd --performance
Restart=no

[Install]
WantedBy=multi-user.target
