[Unit]
Description=LAVD Scheduler - Powersave Mode
Conflicts=scx_lavd-performance.service
After=network.target

[Service]
Type=simple
Nice=-20
OOMScoreAdjust=-1000
ExecStartPre=-/usr/bin/scx_loader -s stop
ExecStart=/usr/bin/scx_lavd --powersave
Restart=on-failure
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
